.loaderContainer{
  width: 100%;
  height: 100%;
  display: flex;
}
.preloader {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: wrap;
  width: 100px;
  margin: 0 auto;

}

.line {
  width: 2px;
  height: 12px;
  background: #fff;
  margin: 0 2px;
  display: inline-block;
  animation: opacity-2 1000ms infinite ease-in-out;
}
.line1 { composes: line; animation-delay: 800ms; }
.line2 { composes: line; animation-delay: 600ms; }
.line3 { composes: line; animation-delay: 400ms; }
.line4 { composes: line; animation-delay: 200ms; }
.line6 { composes: line; animation-delay: 200ms; }
.line7 { composes: line; animation-delay: 400ms; }
.line8 { composes: line; animation-delay: 600ms; }
.line9 { composes: line; animation-delay: 800ms; }

@keyframes opacity-1 {
  0%,100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes opacity-2 {
  0%, 100% {
    opacity: 1;
    height: 15px;
  }
  50% {
    opacity: 0;
    height: 18px;
  }
}
