.panel {
  border: 2px solid $panel-default-border;
  background: transparent;
  margin-bottom: 19px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
  .panel-heading {
    color: $white;
    background-color: transparent;
    border-bottom: 1px solid transparent;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
  }
  .panel-body {
    //background: red;
  }
}
