.messagesContainer{
  height : 500px;
  overflow : scroll;
  background-color : transparent;

}

.chatPanel{
  border: 2px solid;
  height: 500px;
  overflow: scroll;
  padding: 15px;
}



//
.chatMessageContent {
  padding: 15px;
  border-radius: 3px;
  background: #212121;
  color: #fff;
  word-wrap: break-word;
  word-break: normal;
}

.chatMessage.active .chatMessageContent {
  background: red;
}

.chatMessageFooter {
  margin: 0.5rem 0;

  > * + * {
    margin-left: 5px;
  }
}

.chatMessage:not(.leftAligned) .chatMessageFooter {
  text-align: right;
}
