@import '../../scss/3d';
.breadcrumb_wrapper {
  z-index: 100;
  background: #272727;
}

.block {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  height: calc(100% - 100px);
  padding: 0 30px;
  //width: 90%;
  transition: 2s ease;

  background: #0000001c;
  //margin: 20px 50px 0;

  //to leave space for arrows
  width: 90%;
}
