.mode-3d {
  &.body {
    perspective: 12in;
  }
  .app {
    transform-style: preserve-3d;
    background: transparent;
    overflow: visible;
    position: absolute;
    .app-body {
      transform-style: preserve-3d;
      background: transparent;
      overflow: visible;
      position: absolute;
    }
  }
  .main {
    transform-style: preserve-3d;
    overflow: visible !important;
    transform: translateZ(-100px);
    .AppContainer__container_content {
      height: calc(100% - 100px);
      overflow: scroll;
      transform: translateZ(0in);
    }
  }
  .sidebar {
    transform-style: preserve-3d;
    transform-origin: right;
    transform: rotateY(0deg) translateZ(0in);
    transition: 1s ease;
    &:hover {
      //transform-origin: 150% 50%;
      transition: 0.5s ease;
      //transition-delay: 0.2s;
      transform: rotateY(50deg) translateZ(0in);
      .nav-title{
        transition: 2s ease;
        color: red;
        transform: translateZ(-40px)
      }

    }
    .sidebar-nav {
      overflow: visible;
      display: flex;
      align-items: center;
      justify-content: center;
      > .nav {
        min-height: 0;
        .nav-title {
          transition: 2s ease;
        }
        > .nav-item {
          transform-style: preserve-3d;
          //margin:5px 0;
          padding: 10px 0;
          transition-delay: 2s;
          //background: red;
          transform: translateZ(0px);
          transition: 0.5s ease;
          > .nav-link {
            > .nav-dropdown-items {
              z-index: 2;
              transform-origin: 50%;
              transform: translateZ(0px) translateX(0px) rotateY(-15deg) skewX(0deg);
              transition-delay: 0.5s;
              transition: 0.5s ease;
              > .nav-link {
                border: 0 solid white;
                border-radius: 5px;
              }
            }
          }
          &:hover {
            z-index: 2019;
            background: transparent;
            > .nav-link {
              //border: 1px solid white;
              border-radius: 5px;
              background: $primary;
              z-index: 2;
              transform-origin: right;
              transform: translateZ(70px) translateX(0px) rotateY(0deg) skewX(0deg);
              //transition-delay: 0.5s;
              transition: 0.5s ease;
            }
            > .nav-dropdown-items {
              z-index: 2;
              transform-origin: 50%;
              transform: translateZ(70px) translateX(0px) rotateY(0deg) skewX(0deg);
              transition-delay: 0.5s;
              transition: 0.5s ease;
              .nav-link {
                border: 1px solid white !important;
                border-radius: 5px;
                &:hover {
                  border: 1px solid transparent !important;
                }
              }
            }
          }
          .nav-link {
            transition-delay: 0.5s;
            transition: 0.5s ease;
          }
          .nav-item {
            margin: 5px 0;
            padding: 10px 0;
          }
        }
      }
    }
  }
}

// maoboli
.mode-3d .sidebar {
  .nav-link {
    filter: blur(2px) brightness(1.4);
    color: red;
  }
  &:hover {
    .nav-link {
      transition: filter 2s ease-in-out;
      filter: blur(0px) brightness(1);
      color: white;
    }
  }
}

//sidebar toggler
.mode-3d .main {
  .sidebar-btn {
    top: 50%;
    left: 0px;
  }
  .aside-btn {
    top: 50%;
    right: 0px;
  }
}
