.mode-3d {
  &.body {
    perspective: 12in;
  }
  .app {
    transform-style: preserve-3d;
    background: transparent;
    overflow: visible;
    position: absolute;
    .app-body {
      transform-style: preserve-3d;
      background: transparent;
      overflow: visible;
      position: absolute;
    }
  }
  .main {
    //z-index: 2020;
    transform-style: preserve-3d;
    overflow: visible !important;
    .AppContainer__block {
      transition: 2s ease;
      height: calc(100% - 100px);
      overflow: scroll;
      background: #0000001c;
      margin-top: 20px;
      padding: 0 30px;
    }
  }
  .sidebar {
    background: transparent;
    transform-style: preserve-3d;
    transition: 2s ease;
    .sidebar-nav {
      overflow: visible;
      display: flex;
      align-items: center;
      justify-content: center;
      > .nav {
        min-height: 0;
        .nav-title {
          transition: 2s ease-in-out;
        }
        > .nav-item {
          transform-style: preserve-3d;
          padding: 10px 0;
          text-align: right;
          transform: translateZ(0px);
          transition: 0.5s ease;
          > .nav-link {
            > .nav-dropdown-items {
              z-index: 2;
              transform-origin: 50%;
              transform: translateZ(0px) translateX(0px) rotateY(-15deg) skewX(0deg);
              transition-delay: 0.5s;
              transition: 0.5s ease;
              > .nav-link {
                border: 0 solid white;
                border-radius: 5px;
              }
            }
          }
          &:hover {
            z-index: 2019;
            background: transparent;
            > .nav-link {
              //border: 1px solid white;
              border-radius: 5px;
              background: $primary;
              z-index: 2;
              transform-origin: right;
              transform: translateZ(70px) translateX(0px) rotateY(0deg) skewX(0deg);
              //transition-delay: 0.5s;
              transition: 0.5s ease;
            }
            > .nav-dropdown-items {
              z-index: 2;
              transform-origin: 50%;
              transform: translateZ(70px) translateX(0px) rotateY(0deg) skewX(0deg);
              transition-delay: 0.5s;
              transition: 0.5s ease;
              .nav-link {
                border: 1px solid white !important;
                border-radius: 5px;
                &:hover {
                  border: 1px solid transparent !important;
                }
              }
            }
          }
          .nav-link {
            transition-delay: 0.5s;
            transition: 0.5s ease;
          }
          .nav-item {
            margin: 5px 0;
            padding: 10px 0;
          }
        }
      }
    }
  }
}


// blur effect
.mode-3d {
  .sidebar, .aside-menu {
    z-index: 1018;
    .mode3d-blur, .tab-pane {
      filter: blur(2px) brightness(1.4);
      color: red;
    }
    &:hover {
      z-index: 1020;
      .mode3d-blur, .tab-pane {
        transition: filter 2s ease-in-out;
        filter: blur(0px) brightness(1);
        color: white;
      }
    }
  }
}
//sidebar toggler
.mode-3d .main {
  .sidebar-btn {
    top: 50%;
    left: 0;
  }
  .aside-btn {
    top: 50%;
    right: 0;
  }
}

//border
.mode-3d {
  .sidebar-nav, .aside-menu {
    border: none;
  }
}

//sidebar & aside-menu hover
.mode-3d {
  .sidebar{
    animation: transf-ry--50 2s forwards;
  }
  .sidebar:hover {
    transition: 2s ease;
    transition-delay: 1s;
    animation: transf-ry-50 2s forwards;
    .nav-title {
      transition: 2s ease-in-out !important;
      color: red;
      transform: translateZ(-40px)
    }
  }
  .aside-menu:hover {
    transform-origin: left;
    transform: rotateY(-50deg);
  }
}

@keyframes transf-ry-50{
  0% {
    transform: rotateY(0deg) translateZ(-100px)
  }
  100% {
    transform: rotateY(50deg) translateZ(0px)
  }
}
//dropdown arrow position
.mode-3d .sidebar .nav-dropdown-toggle:before {
  left: 1rem;
  right: auto
}
@keyframes transf-ry--50{
  0% {
    transform: rotateY(50deg) translateZ(0px)
  }
  100% {
    transform: rotateY(0deg) translateZ(-100px)
  }
}
//dropdown arrow position
.mode-3d .sidebar .nav-dropdown-toggle:before {
  left: 1rem;
  right: auto
}

//transform position
.mode-3d {
  .sidebar {
    transform-origin: right;
    transform: translateZ(-100px);
  }
  .aside-menu {
    transform-origin: left;
    transform: translateZ(-100px);
  }
  .main {
    transform: translateZ(-100px);
    .AppContainer__block {
      //transform: translateZ(100px)
      animation: pump 10s infinite
    }
  }
}

//when sidebar minimized
.mode-3d.sidebar-minimized {
  .sidebar {
    transform-origin: -100%
  }
  .main {
    transform: translateZ(-200px);
    .AppContainer__block {
      transform: translateZ(0px)
    }
  }
}

@keyframes pump {
  0%, 100% {
    transform: translateZ(0);
  }
  50% {
    transform: translateZ(40px);
  }
}

//.example-appear {
//  opacity: 0.01;
//  color:black
//}
//
//.example-appear.example-appear-active {
//  opacity: 1;
//  transition: opacity .5s ease-in;
//  color:orange;
//}

  .example-appear {
    opacity: 0.01;
    color:black
  }

  .example-appear.example-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
    color:orange;
  }
  .example-enter {
    opacity: 0.01;
    color: red;
  }

  .example-enter.example-enter-active {
    opacity: 0.1;
    transition: opacity 5500ms ease-in;
    color:pink;
  }

  .example-leave {
    opacity: .1;
    color:green;
  }

  .example-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
    color:blue;
  }

