.threed {
  &.body {
    perspective: 12in;
  }
  .app {
    transform-style: preserve-3d;
    background: transparent;
    overflow: visible;
    position: absolute;
    .app-body {
      transform-style: preserve-3d;
      background: transparent;
      overflow: visible;
      position: absolute;
    }
  }
  .main {
    transform-style: preserve-3d;
    overflow: visible !important;
    .AppContainer__container_content {
      height: calc(100% - 100px);
      overflow: scroll;
      transform: translateZ(0in);
    }
  }
  .sidebar{
    transform-style: preserve-3d;
    transform-origin: 150% 50%;
    transform: rotateY(0deg) translateZ(0in);
    &:hover {
      transform-origin: 150% 50%;
      transition: 0.5s ease;
      //transition-delay: 0.2s;
      transform: rotateY(20deg) translateZ(0in) ;
    }
    .sidebar-nav {
      overflow: visible;
      display: flex;
      align-items: center;
      justify-content: center;
      > .nav {
        min-height: 0;
        > .nav-item {
          transform-style: preserve-3d;
          //margin:5px 0;
          padding: 10px 0;
          transition-delay: 2s;
          //background: red;
          transform: translateZ(0px);
          transition: 0.5s ease;
          &:hover {
            background: transparent;
            .nav-link, .nav-dropdown-items {
              border-radius: 5px;
              background: $primary;
              z-index: 2;
              transform-origin: 50%;
              transform: translateZ(50px) translateX(0px) rotateY(15deg) skewX(0deg);
              transition-delay: 0.5s;
              transition: 0.5s ease;
            }
          }
          .nav-link {
            transition-delay: 0.5s;
            transition: 0.5s ease;
          }
          .nav-item {
            margin: 5px 0;
            padding: 10px 0;
          }
        }
      }
    }
  }
}

