// core overrides

// navbar
$navbar-color: $white;
$navbar-bg: $gray-800;
$navbar-border: 0;

// navbar-brand
$navbar-active-color: $white;
$navbar-brand-bg: $gray-800;
$navbar-brand-border: 0;
$navbar-brand-logo: none;

// breadcrumb
$breadcrumb-borders: none;


